absl-py==0.13.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
altair==4.1.0
appdirs==1.4.4
appnope==0.1.2
argcomplete==1.12.2
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
cachetools==4.2.2
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorlog==4.8.0
coverage==5.5
cycler==0.10.0
dataclasses==0.6
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.1
elasticsearch==7.13.0
entrypoints==0.3
fake-useragent==0.1.11
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
geographiclib==1.50
geopy==2.1.0
gitdb==4.0.7
GitPython==3.1.17
google-auth==1.33.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
google-trans-new==1.1.9
googletrans==3.0.0
googletransx==2.4.2
grpcio==1.34.1
h11==0.9.0
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
hstspreload==2021.7.5
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.0.12
hyperframe==5.2.0
idna==2.10
importlib-metadata==3.10.1
importlib-resources==5.1.2
iniconfig==1.1.1
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mistune==0.8.4
multidict==5.1.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.1
notebook==6.4.0
nox==2020.12.31
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
prometheus-client==0.11.0
prompt-toolkit==3.0.18
protobuf==3.17.1
ptyprocess==0.7.0
py==1.10.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycparser==2.20
pydeck==0.6.2
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.3
python-dateutil==2.8.1
python-socks==1.2.4
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.7.2
sacremoses==0.0.45
schedule==1.1.0
Send2Trash==1.5.0
six==1.15.0
smmap==4.0.0
sniffio==1.2.0
soupsieve==2.2.1
streamlit==0.80.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
typing-extensions==3.7.4
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.1
torch==1.9.0
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
transformers==4.8.2
git+git://github.com/twintproject/twint.git@4b30fa33991ccdf89c77471382daad3d3bc8c988
tzlocal==2.1
urllib3==1.26.5
validators==0.18.2
virtualenv==20.4.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.1
